# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Temporary files
tmp
temp

# Coverage directory used by testing tools
coverage/

# Build directories
dist/
build/

# IDE or editor specific files
.vscode/
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db
 
